<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="/style.css">


    <title>Profil</title>
</head>

<body>


    <nav>
        <a href="/home">HOME</a>
        <a href="/wallet">Wallet</a>
        <a href="#">Profil</a>
        <div id="indicator"></div>

    </nav>
    <form class="form-signin" action="/auth/logout" method="POST">

        <button class="btn btn-lg btn-primary btn-block mb-3" type="submit">Logout</button>
    </form>

    <form onsubmit="return enterName();">
        <input id="name" placeholder="Enter name">
        <input type="submit">
    </form>
    <ul id="users"></ul>

    <form onsubmit="return sendMessage();">
        <input id="message" placeholder="Enter Message">
        <input type="submit">
    </form>
    <ul id="mymessage">
        
    </ul>
    <p>{{crypto}}</p>



    <script>
        var io = io("http://localhost:8080");
        var receiver = "";
        var sender = "";


        function enterName() {
            var name = document.getElementById("name").value;
            io.emit("user_connected", name);
            sender = name;
            return false;
        }
        io.on("user_connected", function (username) {
            var html = "";
            html += "<li><button onclick='onUserSelected(this.innerHTML);'>" + username + "</button></li>";
            document.getElementById("users").innerHTML += html;
        });


        function onUserSelected(username) {

            receiver = username;

            $.ajax({
                url: "http://localhost:8080/get_messages",
                method: "POST",
                data: {
                    sender: sender,
                    receiver: receiver
                },
                success: function (response) {
                    console.log(response);

                    var messages = JSON.parse(response);
                    var html = "";

                    for (var a = 0; a < messages.length; a++) {
                        html += "<li>" + messages[a].sender + " meint: " + messages[a].message + "</li>";
                    }

                    document.getElementById("mymessage").innerHTML += html;
                }
            });
        }


        function sendMessage() {
            var message = document.getElementById("message").value;
            io.emit("send_message", {
                sender: sender,
                receiver: receiver,
                message: message
            });
            var html = "";
            html = "<li>Du sagst: " + message + "</li>";
            document.getElementById("mymessage").innerHTML += html;
            return false;
        }
        io.on("new_message", function (data) {
            var html = "";
            html += "<li>" + data.sender + " sagt: " + data.message + "</li>";
            document.getElementById("mymessage").innerHTML += html;
        });
    </script>


</body>

</html>