<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">


    <title>Profil</title>
</head>

<body>

    <script src="https://cdn.socket.io/3.1.3/socket.io.min.js"
        integrity="sha384-cPwlPLvBTa3sKAgddT6krw0cJat7egBga3DJepJyrLl4Q9/5WLra3rrnMcyTyOnh"
        crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.js"
        integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>


    <nav>
        <a href="/home">HOME</a>
        <a href="/wallet">Wallet</a>
        <a href="#">Profil</a>
        <div id="indicator"></div>

    </nav>


    <form onsubmit="return sendMessage();">
        <input id="message" placeholder="Enter message">
        <input type="submit" value="Send">
    </form>
    <span id="name">{{sender}}</span>



    <!--list where all messages will be displayed-->
    <ul id="messages"></ul>


    <script>
        var server = "http://localhost:8080";
        var io = io(server);
        // sending message from client
        io.emit("new_message", "New message");

        // client will listen from server
        io.on("new_message", function (data) {
            /*
            // display message
            console.log("Server says", data);

            // creates a new DOM element for li tag
            

            // show message in li item
            li.innerHTML = data;

            // append the message at the end of list
            

            */

            //li.innerHTML = data.message;


            var li = document.createElement("li");

            var messages = document.getElementById("messages");
            messages.appendChild(li);

            // same here
            li.innerHTML = "" + data.username + ": " + data.message;
            li.setAttribute("id", data.id);

            // display delete button here too
            li.innerHTML += "<button data-id='" + data.id + "' onclick='deleteMessage(this);'>Delete</button>";

        });


        function deleteMessage(self) {
            // get message id
            var id = self.getAttribute("data-id");

            // send event to server
            io.emit("delete_message", id);


            // attach listener on client

        }

        io.on("delete_message", function (id) {
            // get node by id
            console.log("du hurensohn");
            var node = document.getElementById(id);
            console.log("NODE:" + node);
            node.innerHTML = "This message has been deleted";
        });

    </script>




    <script>
        $.ajax({
            url: server + "/get_messages",
            method: "GET",
            success: function (response) {
                console.log(response);

                var messages = document.getElementById("messages");

                // parse JSON to javascript object
                var data = JSON.parse(response);
                for (var a = 0; a < data.length; a++) {
                    /*
                    // creates new DOM element
                    

                    // add message content as HTML
                    li.innerHTML = data[a].message;

                    // append at the end of list
                    messages.appendChild(li);

                    */
                    console.log("du hurebsohne");
                    var li = document.createElement("li");
                    messages.appendChild(li);
                    // give it unique id
                    li.innerHTML = "" + data[a].sender + ": " + data[a].message;

                    // add delete button
                    li.innerHTML += "<button data-id='" + data[a].id + "' onclick='deleteMessage(this);'>Delete</button>";

                }
            }
        });
    </script>





    <script>


        var username = document.getElementById("name").innerHTML;
        console.log(username);


        /* function setUsername() {
            username = document.getElementById("name").innerHTML;
            
            // this will prevent the form from submitting   
            return false;
        }*/


        function sendMessage() {
            // get message
            var message = document.getElementById("message");

            var username = document.getElementById("name").innerHTML;
        console.log(username);

            // sending message from client
            io.emit("new_message", {
                message: message.value,
                username: username
            });

            // this will prevent the form from submitting
            return false;
        }
    </script>




</body>

</html>