ul {
    list-style: none;
}

#chat {
    margin-top: 50px;
} 

.sender {
    font-weight: bold;
}

#chatfield {
    height: 500px;
    overflow-y: scroll;
}

.form {
    position: fixed;
    z-index: 10;
    background-color: white;
    text-align: center;
}